body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Graduate', sans-serif;
}

h1,
.appDescription,
.appInfo {
  text-align: center;
}

h2 {
  font-size: 1.3em;
  text-align: center;
}

h3 {
  margin: 10px;
  font-size: 1.2em;
}

i {
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
}

img {
  border: 2px solid black;
  border-radius: 5%;
}

.cardWrapper {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

.playerCard {
  float: left;
  width: 45%;
  height: 98%;
  margin: 2px;
  padding: 10px;
  border: 1px solid black;
}

.arrows {
  width: 215px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 2em;
}

.numberAndName {
  margin-left: 20px;
}
